<div class="row py-md-3">
  <div class="col-0 col-xl-1"></div>
  <div class="col-12 col-xl-10">
    <div class="card">
      <div class="card-header">
        Tarea
      </div>
      <div class="card-body">
        <h5 class="card-title">{{tarea.codigo}}</h5>
        <form role="form">
          <div class="control-group row">
            <div class="form-group col-6">
              <label class="form-control-label" for="descripcion">Descripción</label>
              <input type="text" class="form-control" id="descripcion" [(ngModel)]="tarea.descripcion" name="descripcion" placeholder="Descripción de la tarea">
            </div>
            <div class="form-group col-3">
              <label class="form-control-label" for="aplicacion">Aplicación</label>
              <input type="text" class="form-control" id="aplicacion" [(ngModel)]="tarea.aplicacion" name="aplicacion" placeholder="Aplicación">
            </div>
            <div class="form-group col-3">
              <label class="form-control-label" for="despliegue">Despliegue</label>
              <input type="text" class="form-control" id="despliegue" [(ngModel)]="tarea.despliegue" name="despliegue" placeholder="Despliegue">
            </div>
          </div>
          <div class="control-group row">
            <div class="form-group col-3">
              <label class="form-control-label" for="estado">Estado</label>
              <select id="estado" class="form-control" [(ngModel)]="tarea.estado" [ngModelOptions]="{standalone: true}">
                <option [value]="'DES'">Desarrollo</option>
                <option [value]="'PROD'">Producción</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="button btn btn-secondary" (click)="onReturn()">Volver</button>
        <button type="button" class="button btn btn-secondary" (click)="onNew()">Nuevo</button>
        <button type="button" class="button btn btn-primary" (click)="onSuccess()">Guardar</button>
      </div>
    </div>
  </div>
  <div class="col-0 col-xl-1"></div>
</div>